---
layout: secondary-nav
title: Venues
nav: general-info
active: Venues
subnav:
- name: Conference Hotel
  include: hotel.html
  url: '#conference-hotel'
#- name: Workshops
#  include: workshops.html
#  url: '#workshops'
#- name: Reception
#  include: reception.html
#  url: '#reception'
- name: Accommodations
  include: accommodations.html
  url: '#accommodations'
#- name: Newcomer Dinner
#  include: dinner.html
#  url: '#dinner'
#- name: Game Night
#  include: gaming.html
#  url: '#gaming'
---

<div class="container-fluid">
    <div class="row">
      <h1>Venues</h1>

      {% for item in page.subnav %}
          <div class="row">
            <div class="col-xs-12">
              {% include_relative {{item.include}} %}
            </div>
          </div>
      {% endfor %}

    </div>
</div>
